{% extends 'Front/base.html' %}
{% load static %}


{% block header %}
    <header id="header" class="header-section">
            <div class="container">
                <nav class="navbar ">
                    <a href="{% url 'home-page' %}" class="navbar-brand"><img src="{% static 'img/logo-dark.png' %}" alt="Saasbiz"></a>
                    <div class="d-flex menu-wrap">
                       <div id="mainmenu" class="mainmenu">
                            <ul class="nav">
                            {% if user %}
                                <li><a data-scroll class="nav-link active" href="{% url 'my-request' %}">Мои заявки</a>
                                </li>
                                <li><a href="#">User: {{ user.username }}</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>

                            {% else %}

                                <li><a href="#">Login/Register</a>
                                    <ul>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        <li><a href="{% url 'registration' %}">Register</a></li>

                                    </ul>
                                </li>

                            {% endif %}

                        </ul>
                       </div>

                    </div>
                </nav>
            </div>
		</header> <!--.header-section -->
{% endblock %}
{% block content %}
        <div class="header-height"></div>
		
		<section class="page-header padding">
            <div class="anim-elements">
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
            </div>
		    <div class="container">
		        <div class="page-content text-center">
		            <h2>Мои заявки</h2>
		            <p>Lorem ipsum dolor sit amet, consectetur</p>
		        </div>
		    </div>
		</section><!--/. page-header -->
		
		<section class="blog-section padding">
		    <div class="container">
		        <div class="blog-wrap row">
		            <div class="col-lg-8 sm-padding">
		                <div class="row">

                            {% for obj in objects %}
                                <div class="col-sm-6 padding-15">
                                    <div class="blog-item">
                                        <div class="blog-content">
                                            <h3><a href="#">{{ obj.title }}</a></h3>
                                            <p>{{ obj.description|truncatewords:30 }}</p>
                                            <a href="#" class="read-more">Status: {{ obj.status }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}




		                </div>


{#		                <ul class="pagination-wrap text-center mt-30">#}
{#                            <li><a href="#"><i class="ti-arrow-left"></i></a></li>#}
{#                            <li><a href="#">1</a></li>#}
{#                            <li><a href="#" class="active">2</a></li>#}
{#                            <li><a href="#">3</a></li>#}
{#                            <li><a href="#"><i class="ti-arrow-right"></i></a></li>#}
{#                        </ul><!-- Pagination -->#}
		            </div><!--/. col-lg-8 -->
		            <div class="col-lg-4 padding-15">
		                <div class="sidebar-wrap">
                            <div class="widget-content blog-widget">
                                <form action="" class="search-form">
                                    <input type="text" class="form-control" placeholder="Type here">
                                    <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
		                    <div class="widget-content blog-widget">
                                <h4>Categories</h4>
                                <ul class="widget-links">
                                    <li><a href="#">Architecture</a></li>
                                    <li><a href="#">Interior Design</a></li>
                                    <li><a href="#">Designing</a></li>
                                    <li><a href="#">Construction</a></li>
                                    <li><a href="#">Buildings</a></li>
                                </ul>
                            </div><!--categories-->


		                </div><!--/.sidebar-wrap-->
                    </div><!--/. col-lg-4 -->
		        </div><!--/.blog-wrap-->
		    </div>
		</section>
	
        <section class="widget-section bg-dark padding">
           <div class="left-design"></div>
           <div class="right-design"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="widget-content">
                            <a href="#"><img src="/static/img/logo-light.png" alt="brand"></a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 sm-padding">

                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 sm-padding">

                    </div>
                </div>
            </div>
        </section>
        


{% endblock %}